@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');


.basic-questions {
    text-align: center;
    padding-bottom: 25px;
    color: white;
    background: url('/public/basicQuestionBackground.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: Tagesschrift;
  }
  
  .body {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    padding: 30px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    z-index: 5;
  }

.rock-progress-bar{
  position: relative;
  width:0;
  height:0;
  z-index: -1;
  padding-top: 10px;
}
  

.basic-questions Button{
  background-color: rgb(108, 123, 234);
}
