.footer-transparent {
    background-color: rgba(0, 0, 0, 0.6); /* semi-transparent black */
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer-text {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }